<!DOCTYPE html>
<!-- Pebble8969 Home -->
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>Pebble8969 Home</title>
  </head>
  <body>
    <h1 class=TitleH1>Title</h1>
    <div class=TitleSubH1>Subtitle</div>
    <br>
    <hr>
    <div class=TitleButton><a href=index.html>home</a></div>
    <hr>
    <!-- STUFF GOES HERE -->
    <hr>
    <footer>
      <a href=https://codeberg.org/Pebble8969/>Codeberg</a>
      <br>
      <a href=https://github.com/Pebble8969/>Github</a>
    </footer>
  </body>
</html>
